body  {
     background-color: rgb(109, 180, 50)  
}

#titulo {
    color: #f50a0a;
    font-size: 50px;
    text-align: center;
}

.texto {
    color: #2f40d9;
    font-size: 30px;
    text-align: justify; 
}

#imagem{
    height: 150px; 
    width: 150px;
    padding: 5px;
    margin: 5px; 
    border: 2px groove  #492fd9;
    border-radius: 20px;

}

