body  {
     background-color: rgb(248, 3, 3))  
}

#titulo {
    color: #111111;
    font-size: 50px;
    text-align: center;
}

.texto {
    color: #141414;
    font-size: 30px;
    text-align: justify; 
}

#imagem{
    height: 400px; 
    width: 400px;
    padding: 5px;
    margin: 5px; 
    border: 2px groove  #492fd9;
    border-radius: 20px;
}

