body  {
     background-color: rgb(50, 180, 61)  
}

#titulo {
    color: #d67142;
    font-size: 50px;
    text-align: center;
}

.texto {
    color: #d9572f;
    font-size: 30px;
    text-align: justify; 
}

#imagem{
    height: 150px; 
    width: 150px;
    padding: 5px;
    margin: 5px; 
    border: 2px groove  #c0d92f;
    border-radius: 20px;

}

